body {
    background-image: url(https://derpicdn.net/img/2020/5/25/2357944/full.gif);
    background-repeat: no-repeat;
    background-size: cover;
    border: 6px solid rgb(0, 0, 0);
}
h1 {
    font-size: 300px;
}
button {
    font-size: 50px;
    background-color: rgb(126, 177, 113);
}
a {
    font-size: 50px;
    text-decoration: none
}
p {
font-size: 40px;
}